*{
    margin: 0;
    padding: 0;
    border: 0;

}
@font-face{
    font-family: 'Vazir-Bold';
    src: url(Vazir-Bold.ttf)

}
body{
    font-family: 'Vazir-Bold';
    direction: rtl;
    background-color: aqua;
}
::placeholder , input {
    font-family: 'Vazir-Bold';
}
.login{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.login h1{
    color: brown;
    margin: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid gray;
    font-size: 25px;
    transition: 1s;
}
.login h1:hover{
    border-color: white;
    font-size: 30px;
}
.login input[type="text"],input[type="password"] {
    margin: 20px;
    padding: 10px 14px;
    width: 250px;
    border-radius: 24px;
    border: 1px solid brown;
    transition: 0.5s;
}
.login input[type="submit"]{
    margin: 20px;
    padding: 10px 14px;
    width: 100px;
    background-color: white;
    cursor: pointer;
    border-radius: 24px;
    border: 1px solid green;
    transition: 0.7s;
}
.login input[type="submit"]:hover{
    background-color:green;
}
label{
    color: black;
}
.login input[type="text"]:focus, input[type="password"]:focus{
    width: 300px;
}